.containerContact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.contactImg {
    border-style: double;
    border-radius: 65%;
}

.contact-form {
    padding-left: 5rem;
}

.contactcontainer{
    padding-top: 75px;
    color: #C6011f;
}

.message {
    margin-top: 50px;
    color: #C6011f;
}

.paragraph {
    font-size: 20px;
}

